<md-card>
  {{#if keyImage }}
    <a href="/{{ slug }}">
        {{#if keyImage.Versions.small.Key }}
          <img src="{{s3 keyImage.Versions.small.Key }}" alt="{{deSlug keyImage.Name }}"/>
        {{ else }}
            <img src="{{s3 keyImage.Key }}" alt="{{deSlug keyImage.Name }}"/>
        {{/if }}
    </a>
  {{/if }}

  <md-card-content>
    <section class="margin-vertical-medium" layout="column" layout-align="start start" layout-wrap>
      <h2 class="headline uppercase tight text-x-large" layout-align="left" style="margin-bottom: 1rem;">
        <a class="undecorated" href="/{{ slug }}">{{ title }}</a>
      </h2>

      <div layout="column" layout-fill>
        <div layout="row">
          <div layout="column" layout-align="end start">
            <span class="headline uppercase text-secondary0">{{ author.name }}</span>
            <span class="text-small">{{calendar published.published}}</span>
          </div>

          <div flex></div>
          
          <div class="social-buttons" layout-align="right" layout="row">
            <md-button class="md-fab md-primary" ng-href="/{{ slug }}">
              <span data-disqus-identifier="{{ slug }}"></span>
              <i class="mdi-editor-mode-comment"></i>
            </md-button>
            <md-button class="md-fab twitter" ng-href="https://twitter.com/{{ author.twitter }}" target="_blank">
              <i class="qv qv-twitter"></i>
            </md-button>
            <md-button class="md-fab instagram" href="https://instagram.com/{{ author.instagram }}" target="_blank">
              <i class="qv qv-instagram"></i>
            </md-button>
            <md-button class="md-fab md-secondary" ng-href="mailto:{{ author.email }}">
              <i class="mdi-communication-email"></i>
            </md-button>
          </div>
        </div>
        
      </div>
    </section>
    

    <md-divider></md-divider>
    
    <div class="margin-vertical-large">
        {{#if excerpt }}
          {{markdown excerpt }}
        {{/if }}
    </div>

    <div layout="row" layout-align="end start" layout-wrap layout-margin>
      {{#each hashtags }}
        <a class="undecorated" href="/search/{{ this.key }}">
          #{{ this.value }}
        </a>
      {{/each }}
    </div>

  </md-card-content>

</md-card>
{{!-- 
<div class="post-left">
    {{#if keyImage }}
      <a href="/{{ slug }}">
          {{#if keyImage.Versions.small.Key }}
            <img src="{{s3 keyImage.Versions.small.Key }}" alt="{{deSlug keyImage.Name }}"/>
          {{ else }}
              <img src="{{s3 keyImage.Key }}" alt="{{deSlug keyImage.Name }}"/>
          {{/if }}
      </a>
    {{/if }}
</div>
<div class="post-right background-white">
    <div class="post-title font-flair">
        <a class="link-primary0" href="/{{ slug }}">{{ title }}</a>
    </div>

    <hr>

    <div class="post-details">
        <span class="author-name">{{ author.name }}</span>

        <ul class="social inline-list">
            <li class="comment-count">
                <a class="link-secondary0 link-hover-secondary0" href="/{{ slug }}" data-disqus-identifier="{{ slug }}"></a>
                <a class="link-secondary0 link-hover-secondary0" href="/{{ slug }}">
                    <i class="fa fa-comment"></i>
                </a>
            </li>

            <li>
                <a class="link-secondary3 link-hover-secondary3" href="https://twitter.com/{{ author.twitter }}" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="link-secondary3 link-hover-secondary3" href="https://instagram.com/{{ author.instagram }}" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li>
                <a class="link-secondary3 link-hover-secondary3" href="mailto:{{ author.email }}">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
        </ul>

        <div class="publish-date">{{calendar published.published}}</div>

    </div>



    <div class="excerpt">
        {{#if excerpt }}
          {{markdown excerpt }}
        {{/if }}
    </div>

    <ul class="hashtags inline-list">
      {{#each hashtags }}
          <li>
              <a href="/search/{{ this.key }}">#{{ this.value }}</a>
          </li>
      {{/each }}
    </ul>



</div>
 --}}