{{#if featuredImage }}
  <div flex>
    <a href="/product/{{ slug }}">
        {{#if featuredImage.Versions.small.Key }}
          <img src="{{s3 featuredImage.Versions.small.Key }}" alt="{{deSlug featuredImage.Name }}"/>
        {{ else }}
            <img src="{{s3 featuredImage.Key }}" alt="{{deSlug featuredImage.Name }}"/>
        {{/if }}
    </a>
  </div>
{{/if }}

<div flex layout="column">
  <div layout="row" layout-align="space-between" layout-padding>
    <h5 class="headline uppercase">
      <a class="undecorated" href="/product/{{ slug }}">{{ title }}</a>
    </h5>
    <strong class="headline">${{ price }}</strong>
  </div>
  

  <md-divider></md-divider>

  <div flex layout="column" layout-align="space-between" layout-padding>
    <div class="markdown">
      {{markdown description.excerpt }}
    </div>
    <div class="inline-list commas" layout="row" layout-align="end" layout-wrap>
      {{#each hashtags }}
        <a class="undecorated" href="/products/{{ this.key }}">#{{ this.value }}</a>
      {{/each }}  
    </div>
  </div>

</div>
