<nav class="row">
    <a class="site-title column" href="/">{{ settings.siteTitle }}</a>
</nav>
<nav class="top-bar stretchy margin-vertical-small">
    <div class="row">
        <div class="column">
            <section class="top-bar-section">
                <ul>
                  {{#if settings.nav1Title }}
                      <li class="has-dropdown not-click">
                          <a href="#">{{ settings.nav1Title }}</a>
                          <ul class="dropdown">
                            {{#each settings.nav1 }}
                                <li class="{{active href ../url }}"><a href="{{ this.href }}">{{ this.text }}</a></li>
                            {{/each }}
                          </ul>
                      </li>
                  {{ else }}
                    {{#each settings.nav1 }}
                        <li class="{{active this.href ../url }}">
                            <a href="{{ this.href }}">{{ this.text }}</a>
                        </li>

                    {{/each }}
                  {{/if }}

                </ul>
            </section>

            <section class="top-bar-section">
                <ul>
                  {{#if settings.nav2Title }}
                      <li class="has-dropdown not-click">
                          <a href="#">{{ settings.nav2Title }}</a>
                          <ul class="dropdown">
                            {{#each settings.nav2 }}
                                <li class="{{active this.href ../url }}"><a href="{{ this.href }}">{{ this.text }}</a></li>
                            {{/each }}
                          </ul>
                      </li>
                  {{ else }}
                    {{#each settings.nav2 }}
                        <li class="{{active this.href ../url }}">
                            <a href="{{ this.href }}">{{ text }}</a>
                        </li>

                    {{/each }}
                  {{/if }}

                </ul>
            </section>

            <section class="top-bar-section">
                <ul>
                  {{#if settings.nav3Title }}
                      <li class="has-dropdown not-click">
                          <a href="#">{{ settings.nav3Title }}</a>
                          <ul class="dropdown">
                            {{#each settings.nav3 }}
                                <li class="{{active href ../url }}"><a href="{{ href }}">{{ this.text }}</a></li>
                            {{/each }}
                          </ul>
                      </li>
                  {{ else }}
                    {{#each settings.nav3 }}
                        <li class="{{active this.href ../url }}">
                            <a href="{{ href }}">{{ text }}</a>
                        </li>

                    {{/each }}
                  {{/if }}

                </ul>
            </section>

            <!-- <section class="top-bar-section">
              <ul>
                <li ng-show="$storage.cart.productCount">
                  <a href="/app/cart">
                    <span ng-bind="$storage.cart.productCount"></span>
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </li>
              </ul>

            </section> -->

            <section class="top-bar-section" qv-display="showNav" style="display: none;">
                <ul class="right">
                  <li ng-show="$storage.cart.productCount" qv-active>
                    <a href="/app/cart">
                      <span ng-bind="$storage.cart.productCount"></span>
                      <i class="fa fa-shopping-cart"></i>
                    </a>
                  </li>

                  <li ng-hide="currentUser" qv-active><a href="/app/login"><i class="fa fa-sign-in"></i> Login</a></li>
                  <li ng-hide="currentUser" qv-active><a href="/app/register"><i class="fa fa-pencil"></i> Register</a></li>

                  <li class="has-dropdown not-click" ng-show="currentUser" qv-active>
                    <a href='/app/account'>
                      <i class="fa fa-gears"></i>
                    </a>
                    <ul class="dropdown">
                      <li ng-show="currentUser"><a ng-click="logOut()" href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
                      <li ng-show="user.private.isAdmin">
                        <a href="/app/admin">Admin</a>
                      </li>
                    </ul>
                  </li>

                </ul>

            </section>

        </div>

    </div>


</nav>
