<a class="site-title column" href="/">{{ settings.siteTitle }}</a>
<label for="off-canvas-checkbox" class="right-off-canvas-toggle right link-secondary3" href="#"><i class="fa fa-bars"></i></label>

<aside class="right-off-canvas-menu">
    <ul class="off-canvas-list" qv-display style="display: none;">
      {{#if settings.nav1Title }}
        <li>
            <label>{{ settings.nav1Title }}</label>
        </li>
      {{/if }}
      {{#each settings.nav1 }}
          <li class="{{active href ../url }}"><a href="{{ href }}">{{ text }}</a></li>
      {{/each }}

      {{#if settings.nav2Title }}
          <li>
              <label>{{ settings.nav2Title }}</label>
          </li>
      {{/if }}
      {{#each settings.nav2 }}
          <li class="{{active href ../url }}"><a href="{{ href }}">{{ text }}</a></li>
      {{/each }}

      {{#if settings.nav3Title }}
          <li>
              <label>{{ settings.nav3Title }}</label>
          </li>
      {{/if }}
      {{#each settings.nav3 }}
          <li class="{{active href ../url }}"><a href="{{ href }}">{{ text }}</a></li>
      {{/each }}

        <li>
          <label>Account</label>
        </li>

        <li ng-show="$storage.cart.productCount" qv-active>
          <a href="/app/cart">
            <span ng-bind="$storage.cart.productCount"></span>
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>

        <li ng-hide="currentUser" qv-active><a href="/app/login"><i class="fa fa-sign-in"></i> Login</a></li>
        <li ng-hide="currentUser" qv-active><a href="/app/register"><i class="fa fa-pencil"></i> Register</a></li>

        <li ng-show="currentUser" qv-active>
          <a href='/app/account'>
            <i class="fa fa-gears"></i>
            <span>Settings</span>
          </a>
        </li>

        <li ng-show="currentUser"><a ng-click="logOut()" ui-sref="master.nav.landing"><i class="fa fa-sign-out"></i> Log Out</a></li>
        <li ng-show="user.private.isAdmin" qv-active>
          <a ui-sref="authenticated.master.admin">Admin</a>
        </li>



        <li>
            <label for="off-canvas-checkbox" href="#">>> close</label>
        </li>

    </ul>
</aside>

<hr>
