<nav class="row">
    <a class="site-title column" href="/">{{ settings.siteTitle }}</a>
</nav>
<nav class="top-bar stretchy margin-vertical-small">
    <div class="row">
        <div class="column">
            <section class="top-bar-section">
                <ul>
                  {{#if settings.nav1Title }}
                      <li class="has-dropdown not-click">
                          <a href="#">{{ settings.nav1Title }}</a>
                          <ul class="dropdown">
                            {{#each settings.nav1 }}
                                <li class="{{active href ../url }}"><a href="{{ this.href }}">{{ this.text }}</a></li>
                            {{/each }}
                          </ul>
                      </li>
                  {{ else }}
                    {{#each settings.nav1 }}
                        <li class="{{active this.href ../url }}">
                            <a href="{{ this.href }}">{{ this.text }}</a>
                        </li>

                    {{/each }}
                  {{/if }}

                </ul>
            </section>

            <section class="top-bar-section">
                <ul>
                  {{#if settings.nav2Title }}
                      <li class="has-dropdown not-click">
                          <a href="#">{{ settings.nav2Title }}</a>
                          <ul class="dropdown">
                            {{#each settings.nav2 }}
                                <li class="{{active this.href ../url }}"><a href="{{ this.href }}">{{ this.text }}</a></li>
                            {{/each }}
                          </ul>
                      </li>
                  {{ else }}
                    {{#each settings.nav2 }}
                        <li class="{{active this.href ../url }}">
                            <a href="{{ this.href }}">{{ text }}</a>
                        </li>

                    {{/each }}
                  {{/if }}

                </ul>
            </section>

            <section class="top-bar-section">
                <ul>
                  {{#if settings.nav3Title }}
                      <li class="has-dropdown not-click">
                          <a href="#">{{ settings.nav3Title }}</a>
                          <ul class="dropdown">
                            {{#each settings.nav3 }}
                                <li class="{{active this.href ../url }}"><a href="{{ this.href }}">{{ this.text }}</a></li>
                            {{/each }}
                          </ul>
                      </li>
                  {{ else }}
                    {{#each settings.nav3 }}
                        <li class="{{active this.href ../url }}">
                            <a href="{{ href }}">{{ text }}</a>
                        </li>

                    {{/each }}
                  {{/if }}

                </ul>
            </section>

        </div>

    </div>


</nav>
