<nav class="top-bar stretchy">
  <ul class="title-area">
      <li class="name">
          <h1>
              <a class="font-flair text-x-large" href="/">Quiver</a>
          </h1>

      </li>
  </ul>
  <section class="top-bar-section">
      <ul class="right">
          {{#if settings.nav1Title }}
            <li class="has-dropdown not-click">
                <a href="#">{{ settings.nav1Title }}</a>
                <ul class="dropdown">
                    {{#each settings.nav1 }}
                      <li class="{{active href ../url }}"><a href="{{ href }}">{{ text }}</a></li>
                    {{/each }}
                </ul>
            </li>
          {{ else }}
            {{#each settings.nav1 }}
                <li class="{{active this.href ../url }}">
                    <a href="{{ href }}">{{ text }}</a>
                </li>

            {{/each }}
          {{/if }}

      </ul>
  </section>

  <section class="top-bar-section">
      <ul class="right">
        {{#if settings.nav2Title }}
            <li class="has-dropdown not-click">
                <a href="#">{{ settings.nav2Title }}</a>
                <ul class="dropdown">
                  {{#each settings.nav2 }}
                      <li class="{{active this.href ../url }}"><a href="{{ href }}">{{ text }}</a></li>
                  {{/each }}
                </ul>
            </li>
        {{ else }}
          {{#each settings.nav2 }}
              <li class="{{active this.href ../url }}">
                  <a href="{{ href }}">{{ text }}</a>
              </li>

          {{/each }}
        {{/if }}

      </ul>
  </section>

</nav>