<md-content role="navigation">
  <section>
    {{#if settings.nav1Title }}
      <md-toolbar>
        <h5 class="md-toolbar-tools">{{ settings.nav1Title }}</h5>
      </md-toolbar>
    {{/if }}
    <div layout="column" layout-padding>
      {{#each settings.nav1 }}
        <span class="{{active href ../url }}" layout="row" flex>
          <md-button class="text-left" layout-fill ng-href="{{ this.href }}" flex>{{ this.text }}</md-button>
        </span>
      {{/each }}
    </div>
    
  </section>

  <section>
    {{#if settings.nav2Title }}
      <md-toolbar>
        <h5 class="md-toolbar-tools">{{ settings.nav2Title }}</h5>
      </md-toolbar>
    {{/if }}
    <div layout="column" layout-padding>
      {{#each settings.nav2 }}
        <span class="{{active href ../url }}" layout="row" flex>
          <md-button class="text-left" layout-fill ng-href="{{ this.href }}" flex>{{ this.text }}</md-button>
        </span>
      {{/each }}
    </div>
    
  </section>

  <section>
    {{#if settings.nav3Title }}
      <md-toolbar>
        <h5 class="md-toolbar-tools">{{ settings.nav3Title }}</h5>
      </md-toolbar>
    {{/if }}
    <div layout="column" layout-padding>
      {{#each settings.nav3 }}
        <span class="{{active href ../url }}" layout="row" flex>
          <md-button class="text-left" layout-fill ng-href="{{ this.href }}" flex>{{ this.text }}</md-button>
        </span>
      {{/each }}
    </div>
    
  </section>


</md-content>

<md-content role="navigation">
  <section>
    <md-toolbar>
      <h5 class="md-toolbar-tools">Account</h5>
    </md-toolbar>
    <div layout="column" layout-padding>
      <span layout="row" flex ng-if="user.private.isAdmin">
        <md-button class="text-left" layout-fill ng-href="/app/admin" flex>
          <i class="mdi-action-settings-applications"></i> Admin
        </md-button>
      </span>

      <span layout="row" flex>
        <md-button class="text-left" layout-fill ng-href="/app/" flex>
          <i class="mdi-action-dashboard"></i> Dashboard
        </md-button>
      </span>

      <span layout="row" flex>
        <md-button class="text-left" layout-fill ng-href="/app/messages" flex>
          <i class="mdi-communication-message"></i> Messages
        </md-button>
      </span>

      <span layout="row" flex>
        <md-button class="text-left" layout-fill ng-href="/app/account" flex>
          <i class="mdi-action-account-box"></i> Account
        </md-button>
      </span>

      <span layout="row" flex>
        <md-button class="text-left" layout-fill ng-click="logOut('right');" flex>
          <i class="mdi-action-exit-to-app"></i> Log Out
        </md-button>
      </span>
      
    </div>
    
  </section>

</md-content>