<div id="page" class="constrained">
    <section class="margin-vertical-medium" layout="row" layout-align="start start" layout-wrap>
        <h1 class="headline uppercase tight md-display-2 margin-vertical-medium clearfix" flex="100" style="line-height: 2.5rem;">{{ post.title }}</h1>
        {{#unless post.hideDetails }}
        <md-whiteframe class="md-whiteframe-z1" flex layout="row" layout-sm="column" layout-align="space-between" layout-padding layout-wrap>
            <div class="min-16 max-16" flex>
                <div class="headline uppercase text-secondary0">{{ post.author.name }}</div>
                <div class="text-small" style="margin-top: .25rem;">{{calendar post.published.published}}</div>
                <div>
                    <md-button class="md-fab md-mini md-primary md-hue-1" qv-scroll="disqus_thread" aria-label="View page comments">
                        <span data-disqus-identifier="{{ post.slug }}"></span>
                        <i class="mdi-editor-mode-comment"></i>
                    </md-button>
                    {{#if post.author.twitter }}
                    <md-button class="md-fab md-mini twitter" ng-href="https://twitter.com/{{ post.author.twitter }}" target="_blank" aria-label="Author's Twitter feed">
                        <i class="qv qv-twitter"></i>
                    </md-button>
                    {{/if}} {{#if post.author.instagram}}
                    <md-button class="md-fab md-mini instagram" href="https://instagram.com/{{ post.author.instagram }}" target="_blank" aria-label="Author's Instagram feed">
                        <i class="qv qv-instagram"></i>
                    </md-button>
                    {{/if}}
                    <md-button class="md-fab md-mini md-secondary" ng-href="mailto:{{ post.author.email }}" aria-label="Author's email">
                        <i class="mdi-communication-email"></i>
                    </md-button>
                </div>
            </div>
            <div class="min-16 max-16" flex>
                <div class="headline uppercase">Share</div>
                <div class="text-small" style="margin-top: .25rem;">&nbsp;</div>
                <div>
                    <md-button class="md-fab md-mini twitter" ng-href="http://twitter.com/share?text={{ post.title }}&url={{ post.url }}" aria-label="Share page to Twitter">
                        <i class="qv qv-twitter qv-offset-1"></i>
                    </md-button>
                    <md-button class="md-fab md-mini facebook" ng-href="https://www.facebook.com/sharer/sharer.php?u={{ post.url }}" aria-label="Share page to Facebook">
                        <i class="qv qv-instagram"></i>
                    </md-button>
                    <md-button class="md-fab md-mini google-plus" ng-href="https://plus.google.com/share?url={{ post.url }}" aria-label="Share page to Google Plus">
                        <i class="qv qv-google-plus qv-offset-1"></i>
                    </md-button>
                    <md-button class="md-fab md-mini md-secondary" ng-href="mailto:?subject={{ post.title }}&body={{ post.url }}" aria-label="Share via email">
                        <i class="mdi-communication-email"></i>
                    </md-button>
                </div>
            </div>
        </md-whiteframe>
        {{/unless }}
    </section>
    <div>
        <section layout="column" layout-padding>
            {{#if post.published.html }}
            <div class="html" flex>
                {{{ post.published.html }}}
            </div>
            {{else }}
            <div class="markdown" flex>
                {{markdown post.published.markdown }}
            </div>
            {{/if }}
        </section>
    </div>
    <section>
        {{#if env.disqus.shortname }}
        <md-card>
            <md-card-content>
                {{> disqus }}
            </md-card-content>
        </md-card>
        {{/if }}
    </section>
</div>